.taskbox {
    padding: 5px;
    margin-bottom: 39px;
    border: 1px dashed #999999;
    float: left;
    font-size: 12px;
    background: none repeat scroll 0pt 0pt #fafaea;
}

.tasknum {
    color: #FFFFFF;
    background-color: #B73204;
}

.revnum {
    color: #FFFFFF;
    background-color: #999999;
}

.notification a {
    color:#0066CC
}